body{
    background-color: #f0f0f0;

}
.form{
  width: 600px;
  margin: auto;
  padding-top: 40px;
}
.flex-container{
  display: flex;
  width: 1000px;
}
.flex-item2{
  border-left: 1px solid #ccc;
  padding: 30px;
}
.card{
  box-shadow: 1px 1px 5px #ccc;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}
textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

